body{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y:hidden;
    touch-action:none;
  }
  
  .overlay{
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .button{
    padding:5px 10px;
    border-radius: 8px;
    border: none;
    display: inline-block;
  }
  
  .overlaybox{
    background-color: white;
    border-radius: 8px;
    padding:30px 10px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 50%;
    height:fit-content;
    text-align: center
  }
  .input{
    border: 2px solid gray;
    border-radius: 6px;
    padding:5px;
    width:80%;
    display: inline-block;
    transition: all .25s ease-in-out;
  }
  
  .input:hover{
    border:2px solid #3498DB;
  }
  .input:active{
    border:2px solid #2488CB;
  }
  
  .toolbar{
    position: absolute;
    bottom:5px;
    right:10px;
  }
  
  .tool{
    width: 40px;
    height:40px;
    transition: all .25s ease-in-out;
    border-radius: 20px;
    display: inline-block;
    overflow: hidden;
  }
  .tooltext{
      opacity:0;
      transition: .25s ease-in-out all; 
  }
  .tool:hover{
    width: 60px;
  }
  .tool:hover .tooltext{
    opacity:1;
  }
  
  .text{
    opacity: 100%;
    color:white;
    transition: all .25s ease-in-out;
    font-size:16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif
  }
  .option{
    position: absolute;
    bottom:-10px;
    transition: all .25s ease-in-out;
    width:80px;
    border-radius:6px 6px 0px 0px;
    padding:10px 5px;
    text-align: center
  }
  .option:hover{
    bottom: 0px
  }
  .option:hover .text{
    opacity: 100%;
    color:white;
  }
  .option:active{
    bottom: 10px;
    border-radius:6px;
  }
  .option:active .text{
    opacity: 100%;
    color:white;
  }
  
  .redo{
    border:4px solid #E74C3C;
    background-color: #dba49e;
    transition: all .25s ease-in-out;
  }
  .redo:hover{
    background-color: #E74C3C;
  }
  .redo:active{
    background-color: #E74C3C;
  }
  
  .blueo{
    border:4px solid #3498DB;
    background-color: #8dbad6;
    transition: all .25s ease-in-out;
  }
  .blueo:hover{
    background-color: #3498DB;
  }
  .blueo:active{
    background-color: #3498DB;
  }
  
  .greeno{
    border:4px solid #2ECC71;
    background-color: #7fc99f;
    transition: all .25s ease-in-out;
  }
  .greeno:hover{
    background-color: #2ECC71;
  }
  .greeno:active{
    background-color: #2ECC71;
  }
  
  .yellowo{
    border:4px solid #F1C40F;
    color:#F1C40F;
    background-color: #d6c890;
    transition: all .25s ease-in-out;
  }
  .yellowo:hover{
    background-color: #F1C40F;
  }
  .yellowo:active{
    background-color: #F1C40F;
  }
  
  .eraseo{
    border:4px solid gray;
    background-color: lightgray;
    transition: all .25s ease-in-out;
  }
  .eraseo:hover{
    border:4px solid black;
    background-color: black;
  }
  .eraseo:active{
    border:4px solid black;
    background-color: black;
  }
  